@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400&display=swap');

.detalhescard {
    font-family: 'Roboto', 'sans-serif';
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.textcard {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(25, 135, 84, 0.1);
    padding: 3px;
    border-radius: 7px;
}

.textalert {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(25, 135, 84, 0.1);
    padding: 3px;
    border-radius: 8px;
    color: black;
}

.tabledetalhes {
    font-family: 'Roboto', 'sans-serif';
    background:linear-gradient(yellow, green);
}
