@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400&display=swap');

.detalhescard {
    font-family: 'Roboto', 'sans-serif';
    max-width: 300px;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.imagemcard {
    margin-top: 1rem;
    margin-left: 6.5rem;
    width: 120px;
    border: groove;
    border-radius: 50%;
    height: 190px;
    width: 170px;
}

.textcard {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(25, 135, 84, 0.1);
    padding: 3px;
    border-radius: 7px;
}

.textalert {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(25, 135, 84, 0.1);
    padding: 3px;
    border-radius: 8px;
    color: black;
}

.grafico {
    display: flex;
    gap: 5px;
}

.canvascontainer {
    font-size: 30px;
  }
  
  