@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400&display=swap');

.colum {
  padding: 1.2rem;

}

.cardtamanho {
  width: 100px;
}

.meucard {
  background-color:rgb(218, 213, 213);
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 210px;
}

.meucard:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.meutitle {
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.25rem;
  font-weight: bold;
}

.meupartido,
.meuuf {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1rem;
  color: #000;
}

.meubutton {
  font-family: 'Roboto', 'sans-serif';
  background-color: #008000;
  color: #fff;
  border: none;
  font-weight: bold;
  transition: background-color 0.16s ease-in-out;
}

.meubutton:hover {
  background-color: #006400;
}

.pageContainer {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(22, 155, 33, 0.479) 100%), url('../images/foto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.photo {
  justify-content: center;
  border: groove;
  border-radius: 45%;
  height: 170px;
  width: 170px;
  color: yellow;
}

.header {
  background-color: rgb(30, 134, 30);
  border-radius: 0.15rem;
}