@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400&display=swap');

.colum {
  padding: 1.2rem;
}

.cardtamanho {
  width: 100px;
}

.meucard {
  background-color: #F5F5F5;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 210px;
}

.meucard:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.meutitle {
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.25rem;
  font-weight: bold;
}

.meupartido,
.meuuf {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1rem;
  color: #000;
}

.meubutton {
  font-family: 'Roboto', 'sans-serif';
  background-color: #008000;
  color: #fff;
  border: none;
  font-weight: bold;
  transition: background-color 0.16s ease-in-out;
}

.meubutton:hover {
  background-color: #006400;
}

.pageContainer {
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(10px); 
  background: linear-gradient(to bottom, rgb(25, 135, 84), rgba(0, 119, 255, 0.568)); 
  background-size: cover;
  background-position: center;
}

.photo {
  justify-content: center;
  border: groove;
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.header {
  background-color: #00b919c2;
}

.cover {
  background-image: url('https://images7.alphacoders.com/516/thumb-1920-516124.png');
  background-position: center;
  background-size: cover;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images7.alphacoders.com/516/thumb-1920-516124.png');
  background-position: center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

.carouselImage {
  width: 90vh; 
  height: 90vh; 
  object-fit: cover; 
}

.carouselCaption {
  border-radius: 5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  transition: transform 0.3s;
}

.carouselCaption:hover {
  transform: translateY(-10px); 
}

.carouselTitle {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.carouselDescription {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
